/*  the default font and background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #c7d7a6fc;
}
/* Centering the main content wrapper and setting its background color */
.wrapper {
    width: 50%;
    margin: 0 auto;
    background-color: #d3c60a  ;
    position: relative;
}

/* Styling the header with center alignment and white text color */
header {
    position: relative;
    text-align: center;
    color: white;
}
/* Setting the header image dimensions*/
.header-image {
    width: 100%;
    height: 50%;
   text-align: center;
}

/* Positioning the site title within the header */
.site-title {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 2.5vw;
    margin: 0;
} 


/* Navigation Styles */
/* Removing default list styles and centering the navigation */
nav ul  {
    list-style-type: none;
    padding-left: 0; 
    
}
/* Displaying navigation items inline without margins */
nav  li {

    display: inline-block;
    width: 32%;
    text-align: center;
}
/* Adding border-right style to list items */
nav  li:not(:last-child) {
    border-right: 1px solid rgb(0, 0, 0); 
    border-block-end-width: 2px
    ;
}
/* Styling the navigation links */
a {
    text-decoration: none;
     color: #000000;
     font-size: 1.5vw;
   
     
}


/* Floating article images to the left with margin  */
.article-image {
    float: left;
    margin-right: 20px;
    width: 30%;
    height: 30%;
}


/* Contact Form Styles */
#page {
 
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
   
}

form label {
    display: block;
    margin: 10px 0 5px;
}
/* Styling text input, email input, and textarea elements */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Setting the display for form elements inline */
#class {
    display: inline-flex;
}

form button  {
   padding: 10px 20px;
   border : 1px solid black;
   position: relative;
   margin: 0 auto;
   background-color: #d3c60a;

}



form button:hover {
    background-color: #5f7c00;
}

/* Styling the form container with padding and border */
.form-container {
        
        margin: 0 auto;
        padding: 40px;
        border: 1px solid #000000;}
     
/* Footer Styles */
footer {
    text-align: right;
    padding: 5px;
    color: rgb(0, 0, 0);
    margin-top: 0px;
}